@font-face {
    font-family: Quicksand;
    src: url("./fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

body {
    width: 400px;
    height: 580px;
    background-color: rgb(30, 30, 30);
}

header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Quicksand;
    font-size: 36px;
    font-weight: 900;
    color: rgb(220, 220, 220);
    padding-bottom: 20px;
    user-select: none;
}

.instructions {
    position: absolute;
    bottom: 20px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
    color: rgb(200, 200, 200);
    user-select: none;
}

main {
    position: absolute;
    top: 140px;
    bottom: 40px;
    left: 0;
    right: 0;
}

section {
    width: 100%;
    height: 25%;
    text-align: center;
}

section:last-of-type {
    width: 100%;
    height: 50%;
    text-align: center;
}

h2 {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 900;
    color: rgb(220, 220, 220);
    user-select: none;
}

canvas {
    border-radius: 10px;
}

button {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: rgb(30, 30, 30);
    user-select: none;
}

input {
    width: calc(100% - 100px);
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: rgb(30, 30, 30);
}

input::placeholder {
    text-align: center;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.footerContent {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: rgb(200, 200, 200);
    user-select: none;
}